<section class="container project-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="project-text">Professional Work Experience</p>
            </div>
        </div>
        <div class="project-row row">
            <div class="col-xs-4 col-sm-4 project-item">
                <a class="project-link" data-toggle="modal" data-target="#uptakeModal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="./app/images/uptake-logo.png" class="img-responsive project-image" alt="Uptake">
                </a>
                <div id="uptakeModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 modal-company-name">Uptake</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        Chicago, IL
                                    </div>
                                    <div class="text-right col-xs-offset-4 col-sm-offset-4 col-xs-4 col-sm-4">
                                        <a class="modal-company-link" href="http://www.uptake.com">www.uptake.com</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12"><i class="fa fa-calendar" aria-hidden="true"></i>
                                        September 2015 - August 2016
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="modal-body-title">About Company</p>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        Uptake was listed as
                                        <span>
                                            <a class="modal-body-link"
                                               href="http://www.forbes.com/sites/briansolomon/2015/12/17/how-uptake-beat-slack-uber-to-become-2015s-hottest-startup/#6bd9af635f2e">
                                            Hottest Startup
                                            </a>
                                        </span>
                                        of 2015 beating Slack and Uber by Forbes. <br>
                                        Uptake is developing an Analytics and Predictive Software backend service for
                                        major industries like construction, aviation, mining, rail, and more. <br>
                                        The company is building the singular platform that defines data-driven insight
                                        in major global industries. <br>
                                    </div>
                                </div>
                                <p class="modal-body-title">Role</p>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        Full Stack Developer for an ever expanding number of clients including
                                        <span><a class="modal-body-link" href="http://www.cat.com">CAT</a></span>,
                                        <span><a class="modal-body-link"
                                                 href="http://www.progressrail.com">EMD</a></span>,
                                        <span><a class="modal-body-link" href="http://www.bnsf.com">BNSF</a></span> and
                                        many more.
                                    </div>
                                </div>
                                <p class="modal-body-title">Technologies involved with</p>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <ul>
                                            <li>Being the first predictive analytics company in my career and being one
                                                among the best startup of 2015, I've learned to be proficient in a
                                                fast-paced
                                                <b>Agile work environment</b>.
                                                The great variety of work, technologies and prestigious clients involved
                                                makes it an interesting place to work in, always on the run to grant
                                                quality code on tight deadlines.
                                            </li>
                                            <li>Involved in developing and integrating new Data Science models for
                                                different
                                                clients using <b>Akka</b> (Java) for parallel and concurrent processing.
                                            </li>
                                            <li>Following a test-driven development by writing tests for Java programs
                                                using <b>JUnit</b>.
                                            </li>
                                            <li>Developing web-based user interface for company's product using <b>AngularJS,
                                                HTML5, CSS3, JQuery</b>.
                                            </li>
                                            <li>Writing unit tests during our UI development using <b>Karma, Jasmine and
                                                Mocha</b>.
                                            </li>
                                            <li>Hands-on experience with <b>Docker, Mesos and Marathon</b>.</li>
                                            <li>Excelent exposure to No-SQL Databases like <b>ElasticSearch</b>.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 project-item">
                <a href="" class="project-link" data-toggle="modal" data-target="#wsuModal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="./app/images/wsu-logo.png" class="img-responsive project-image" alt="Wayne State University">
                </a>
                <div id="wsuModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 modal-company-name">Wayne State University</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        Detroit, MI
                                    </div>
                                    <div class="text-right col-xs-offset-4 col-sm-offset-4 col-xs-4 col-sm-4">
                                        <a class="modal-company-link" href="https://library.wayne.edu">www.library.wanye.edu</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12"><i class="fa fa-calendar" aria-hidden="true"></i>
                                        May 2015 - August 2015
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <p class="modal-body-title">About Company</p>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        Founded in 1868, Wayne State University is a nationally recognized metropolitan
                                        research institution offer more than 370 academic programs through 13 schools
                                        and colleges to nearly 28,000 students. <br>
                                        Wayne State University having multiple libraries support vivid features through
                                        its website like Online issuing, Elibrary for ebooks, Interlibrary loan,
                                        Ask-a-librarian feature, Quicksearch and many more.<br>
                                    </div>
                                </div>
                                <p class="modal-body-title">Role</p>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        Front End Developer involved in Fall release of Library website for the
                                        University.
                                    </div>
                                </div>
                                <p class="modal-body-title">Technologies involved with</p>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <ul>
                                            <li>Active member of development team for upgrading Library website with
                                                newer features like logging
                                                user actives, parsing logs, Quicksearch functionality using <b>Solr
                                                    Indexing</b>.
                                            </li>
                                            <li>
                                                Developed and implemented a flow, which would record user's click on the
                                                website using PHP and store them in <b>MySQL</b> database using <b>Python</b>
                                                script.
                                            </li>
                                            <li>Imported data from MySQL to Solr4.1 database for more meaningful return
                                                of search done by user using Solr's import functionality.
                                            </li>
                                            <li>Implemented Autocomplete functionality which returned combination of
                                                data fetched from Solr database based on user activities and Google's
                                                Autocomplete.
                                            </li>
                                            <li>Modified look-n-feel for library website, to be more consistent with
                                                other University's website.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 project-item">
                <a href="" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="./app/images/infosys-logo.png" class="img-responsive project-image" alt="Uptake">
                </a>
            </div>
        </div>
        <div class="project-row row">
            <div class="col-xs-4 col-sm-4 project-item">
                <a href="" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="./app/images/rcbc-bank-logo.png" class="img-responsive project-image" alt="Uptake">
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 project-item">
                <a href="" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="./app/images/china-bank-logo.png" class="img-responsive project-image" alt="Uptake">
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 project-item">
                <a href="" class="project-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="./app/images/city-savings-bank-logo.png" class="img-responsive project-image" alt="Uptake">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-xs-12">
                <div class="clickSkillSetLink">
                    <a class="btn btn-circle btn-projects">
                        <i class="fa fa-chevron-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>