<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="brand-image" src="./app/images/brand-image.png" alt="Brand Image">
                    <h1 class="brand-heading top20">Anuj Mukeshbhai Parikh</h1>
                    <p class="intro-text">
                        Full Stack Web Developer <br>
                        <small>
                            <strong>- EST. 2008</strong>
                        </small>
                    </p>
                    <div class="clickProjectLink">
                        <a class="btn btn-circle btn-intro">
                            <i class="fa fa-chevron-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>