<section id="skillSet" class="container skill-set-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <p class="skill-set-text">Skill Set</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 text-center">
                <skillset-canvas></skillset-canvas>
            </div>
            <div class="col-xs-4 col-sm-4 text-center">

            </div>
            <div class="col-xs-4 col-sm-4 text-center">

            </div>
        </div>
        <div class="skill-set-details row">
            <div class="col-xs-5 col-sm-5">
                <span class="tech-text">Technologies</span>
                <ul class="bean-skillset">
                    <li class="skill-bar" style="width:85%; background-color:#F3C128">
                        <span>ANGULARJS</span>
                        <span class="skill-percent">85%</span>
                    </li>
                    <li class="skill-bar" style="width:80%; background-color:#FF5353">
                        <span>JAVASCRIPT</span>
                        <span class="skill-percent">80%</span>
                    </li>
                    <li class="skill-bar" style="width:85%; background-color:#69f3c4">
                        <span>HTML5/CSS3</span>
                        <span class="skill-percent">85%</span>
                    </li>
                    <li class="skill-bar" style="width:70%; background-color:#1CDCFF">
                        <span>JQUERY</span>
                        <span class="skill-percent">70%</span>
                    </li>
                    <li class="skill-bar" style="width:85%; background-color:#C799FF">
                        <span>JAVA</span>
                        <span class="skill-percent">85%</span>
                    </li>
                    <li class="skill-bar" style="width:75%; background-color:#7CD14E">
                        <span>AKKA</span>
                        <span class="skill-percent">75%</span>
                    </li>
                    <li class="skill-bar" style="width:80%; background-color:#F3C128">
                        <span>ELASTICSEARCH</span>
                        <span class="skill-percent">80%</span>
                    </li>
                    <li class="skill-bar" style="width:70%; background-color:#FF5353">
                        <span>PL/SQL</span>
                        <span class="skill-percent">70%</span>
                    </li>
                    <li class="skill-bar" style="width:50%; background-color:#1CDCFF">
                        <span>ANDROID DEVELOPMENT</span>
                        <span class="skill-percent">50%</span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-7 col-sm-7 text-center">
                <span class="tool-text">Tools</span>
                <div class="tool-set">
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 text-left">Frontend Developer Tools:</div>
                        <div class="col-xs-7 col-sm-7 text-left">WebStrom, VSCode, Sublime Text</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 text-left">Backend IDEs:</div>
                        <div class="col-xs-7 col-sm-7 text-left">IntellJ, Eclipse, NetBeans</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 text-left">Deployment Tools:</div>
                        <div class="col-xs-7 col-sm-7 text-left">Docker, Mesos, Marathon</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 text-left">SQL Databases:</div>
                        <div class="col-xs-7 col-sm-7 text-left">Oracle 8i.x/9i.x/10g, IBM DB2, MySQL</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 text-left">NoSQL Databases:</div>
                        <div class="col-xs-7 col-sm-7 text-left">ElasticSearch, MangoDB, Solr 4.1, Cassandra</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 text-left">Database Tools:</div>
                        <div class="col-xs-7 col-sm-7 text-left">Marvel for ElasticSearch, Toad for Oracle, phpMyAdmin,
                            IBM Data Studio for DB2
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-5 text-left">SVN tools:</div>
                        <div class="col-xs-7 col-sm-7 text-left">GitHub, BitBucket, VSS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>