<nav class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="toggleBtn" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">
                <span class="light"> Anuj </span>Parikh
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse" id="collapse-navbar-ref">
            <ul class="nav navbar-nav">
                <li class="hidden active">
                    <a>Projects</a>
                </li>
                <li class="clickProjectLink">
                    <a>Projects</a>
                </li>
                <li class="clickSkillSetLink">
                    <a>Skill Set</a>
                </li>
                <li class="clickAboutMeLink">
                    <a>About Me</a>
                </li>
                <li class="">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>