<a class="project-link" data-toggle="modal" data-target="#uptakeModal">
    <div class="caption">
        <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
        </div>
    </div>
    <img src="./app/images/{{companyInfo.image}}" class="img-responsive project-image" alt="Uptake">
</a>
<div id="uptakeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 modal-company-name">{{companyInfo.name}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4"><i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{companyInfo.location}}
                    </div>
                    <div class="text-right col-xs-offset-4 col-sm-offset-4 col-xs-4 col-sm-4">
                        <a class="modal-company-link" href={{companyInfo.link}}>{{companyInfo.displayLink}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12"><i class="fa fa-calendar" aria-hidden="true"></i>
                        {{companyInfo.start}} - {{companyInfo.end}}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <p class="modal-body-title">About Company</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div *ngFor="let aboutPoint of companyInfo.about">
                            {{aboutPoint}}
                        </div>
                    </div>
                </div>
                <p class="modal-body-title">Role</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        {{companyInfo.role}}
                    </div>
                </div>
                <p class="modal-body-title">Technologies involved with</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <ul>
                            <li *ngFor="let technology of companyInfo.technologies">
                                {{technology}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
